
body {
    height: 100%;
    width: 100%;
    background: radial-gradient(circle at center center, rgb(212, 229, 245) 0%, rgb(112, 164, 213) 100%) white;
  }

  img{
    height: auto;
    width: 50%;
    padding: 0px;
    margin-top: -300px;
    
  }
  .titulo, .subtitulo{
    width: 90%;
    font-size: 20px;
    text-align: right;
    font-family: cursive;
    color: #355B88;
    margin-top: 90px;

}
#opciones{
    width: 80%;
    text-align: right;
    font-family: cursive;
    margin-top: -300px;
}
  
