
*{margin: 0;
    padding: 0;
}

header{
    width: 100%;
    margin-bottom:10px;
    background: url(inicio.oz.png);
    overflow: hidden;
    font-size: large;

}

 .container_inicio p {
    text-align: center;
    font-family: "calibri";
    font-size: 60px;
    transition: 0.6s;
    color:#151a35
    
 }

 .container_inicio h1 {
    padding-top: 10px;
    padding-left: 15px;
    text-shadow: #886971 5px 1px 4px;
    text-align: center;
    font-size: 60px;
    transition: 0.6s;
    color:#151a35

 }

  header nav {
    position: relative;
    display: flex;  
    justify-content: right;
    line-height: 200px;
  }
  
  header nav a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color:#151a35;
    letter-spacing: 2px;
    transition: 0.6s;
    padding: 0px 2px;
    
  }
  
  
  body{
    background: #e2e2e2;
    min-height: 200vh;
    font-family:'Calibri' ;
    
  }

#items{
    text-align: center;
    font-family: "calibri";
    display:flex;
    justify-content: center;
    line-height: 20px;
    

}

#items h1{
    font-family: "calibri";
    

}
.item1{
    padding: auto;
    letter-spacing:1;
    word-spacing: 1;
    border: 1px dotted #151a35;
    width: 60px;
    margin: auto;
    padding: 10%;
  
}

.item2{
    padding: auto;
    letter-spacing: 1;
    word-spacing: 1;
    border: 3px dotted #151a35;
    width: 50px;
    margin: auto;
    padding:10%;
}

.item3{
    padding: auto;
    letter-spacing: 1;
    word-spacing: 1;
    border: 1px dotted #151a35;
    width: 50px;
    margin: auto;
    padding: 10%;
    
}




.nombre_articulo{
    display: flex;
    justify-content: center;
    color: #151a35;
    


}
.costo{
    display: flex;
    justify-content: center;
    color: #151a35;
}
#agregar1{
    background-color:#ba9a96;
    height: 40px;
    border-radius: 5px;
    font-family: "calibri";
    font-size: 12px;
    padding: 4px 4px 4px 4px;
}

#agregar2{
    background-color:#ba9a96;
    height: 40px;
    border-radius: 5px;
    font-family: "calibri";
    font-size: 12px;
    padding: 4px 4px 4px 4px;
}

#agregar3{
    background-color:#ba9a96;
    height: 40px;
    border-radius: 5px;
    font-family: "calibri";
    font-size: 12px;
    padding: 4px 4px 4px 4px;
}

#container_formulario{
    width: 400px;
    background: #151a35;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: "calibri";
    color: #ba9a96;
    display: none;
    
}



.controls{
    width: 100%;
    background: #ba9a96;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #886971;
    font-family: "calibri";
    font-size: 18px;
}

.pagar{
    width: 100%;
    background: #886971 ;
    border: none;
    padding: 12px;
    color: #151a35;
    margin: 16px 0;
    font-size: 16px;
    
}



footer{
    background: url(inicio.oz.png);
    margin-top: 57px;
    height: 55px;  
    width: 100%;
    
}
.redes{
    font-family: "calibri";
    font-size: 16px;
    padding-top: 15px;
    padding-left: 15px;
    text-align: center;
    font-weight: bold;
   letter-spacing: 5px;
   justify-content: space-between;
}